<!--The content below is only a placeholder and can be replaced.-->
<div class ="row" style="text-align:center;
   background-color:lightgreen">
  <h1>
    Welcome to {{ title }}!
  </h1>
 </div>
 <!--
 <div class="container">
    <div class = "row" style="height: 100%">
      <div class="col-sm-3 col-md-6 col-lg-4"
      style="background-color: lightsalmon;
      padding-left: 30px; width: 70%">
          </div>
          </div>
          </div>
        -->
          <br> <a routerLink ="login">Login</a> <br>

          <br><a routerLink="lifecycleparent">Life Cycle parent</a>
          <router-outlet></router-outlet>

<!--
      <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
          <li>
            <a routerLink="home">Home</a>
          </li> <br>
          <li>
            <a routerLink="emplist"> Goto Employee list</a>
          </li><br>
          <li>
            <a routerLink="template">Learn ngclass ngstyle</a>
          </li><br>
          <li>
              <a routerLink="empcalc">Goto EmpcalcComponent</a>
            </li><br>
        </ul>
      </nav>
    </div>
      <div class="col-sm-9 col-md-6 col-lg-8"
      style="background-color: darkseagreen;
      padding-left: 30px; width: 70%; height: 100%;">
  -->



  <!--
  <app-learnts></app-learnts>
  <app-databinding [customInputAttr]='passToChild'></app-databinding>


<div class ="row" style="background-color: lightsalmon;
    padding-left: 30px; height:40%">
<app-emplist></app-emplist>
</div>
<hr style="border:1px; border-style: solid; border-color: darkblue">
<div class ="row" style="background-color: lightsalmon;
    padding-left: 30px;">

<app-emplist></app-emplist>
</div>

<app-template> <p> Second Para</p></app-template>
<hr style="border:1px; border-style: solid; border-color: darkblue">
<div class ="row" style="background-color: lightsalmon;
    padding-left: 30px;">
<app-empcalc></app-empcalc>
<app-emplist></app-emplist>
<app-directives></app-directives>


-->

